
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.nav {
 
   
    padding-left: 0;
    margin-bottom: 0;
    margin-right: 90%;
    list-style: none;
  }
  .navbar-nav{
      float: right;

  }